/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 8, 2024, 12:47:42 PM
    Author     : bryan
*/
.headerbox{
    background-color: hsl(47, 46%, 62%);
    height: 120px;
    border-bottom: 5px solid hsl(47, 46%, 33%);
    position: relative;
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
.lowerbodybox{
    position: relative;
    background-color: hsl(46, 46%, 89%);
    height: 100%;
    margin: 0;
}
.pageholderbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: hsl(47, 46%, 91%);
    box-shadow: 2px 2px 0px 5px hsl(47, 46%, 33%);
    border-radius: 50px 50px;
}
.linkprofile{
    width: 150px;
    color: white;
    text-decoration: none;
    text-align: center;
}
.linkprofile:hover{
    color: hsl(47, 46%, 33%);
}
#accountlink{
    position: absolute;
    bottom: 10px;
    left: 50px;
}
#logoutlink{
    position: absolute;
    bottom: 10px;
    right: 0px;
}
#requestlink{
    position: absolute;
    bottom: 10px;
    left: 250px;
}
#profilelink{
    position: absolute;
    bottom: 10px;
    left: 400px;
}
